
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Source+Sans+Pro&family=Tilt+Neon&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tilt Neon', cursive;
    
}

body{
    background-color: rgb(196, 196, 228)

}
header{
display: flex;
flex-direction: column;
background-color: white;
align-items: center;
padding: 300px 200px;
margin: 100px 80px;
}

h2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 100px 20px;
}
nav1 {
display: flex;
gap: 50px;
background-color: white;
padding: 10px 250px;
margin-top: 80px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(173, 161, 161);
}

a1{
text-decoration: none;
color: grey;
}

nav2{
display: flex;
gap: 50px;
background-color: black;
padding: 10px 250px;
margin: 20px 20px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(26, 25, 25);
}

a2{
color: white;
text-decoration: none;
}

i2{
color: white;
text-decoration: none;
}

h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}
h4{
    display: flex;
    align-items: center; 
    margin-top: -30px;
text-decoration-color: rgb(156, 150, 150);
}
